In [1]:
Heure = 43
if Heure>40 : Heure_sup = Heure -40
Heure_sup

3

In [4]:
Salaire_base=100
Salaire=Salaire_base+1.5*Heure_sup
Salaire

104.5

In [19]:
def Salaire_2(Heure_2,Tarif_H):
  if Heure_2>40:
    return Tarif_H*40+(Heure_2-40)*1.5*Tarif_H
  else:
    return Tarif_H*Heure_2
Heure_2=50
Tarif_H=100
Paie=Salaire_2(Heure_2,Tarif_H)
print(Paie)

5500.0

In [21]:
print(f"Total:{Paie:.2f}","€")

Total:5500.00 €